* {
  padding: 0px;
  margin: 0px;
}
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
.container {
  display: flex;
  height: 100vh;
  width: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.App {
  font-family: "Cabin", sans-serif;
  width: 60%;
}
@media only screen and (max-width: 768px) {
  .App {
    width: 100% ;
  }
}
